@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', sans-serif;
}

.submit-btn:hover{
    transform: scale(1.02);
    box-shadow: 0 0 20px rgba(255, 78, 205, 0.6);
}

.card-content{
    position:relative;
}
